@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "Home Page";
}
<h1>Blue-Green Deployment Changes</h1>
<h1>@Configuration.GetSection("WelcomeMessage").Value</h1>
